.search {
  width: 100%;
  margin-bottom: 2rem;
}

.main {
  margin: 1rem;
  margin-bottom: 2rem;
}

.container {
  margin: auto;
  margin-top: 2rem;
  max-width: 1280px;
}

.hidden {
  opacity: 0;
}

// Source: https://bountify.co/simple-and-elegant-css-indeterminate-progress-bar
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar,
.progress-bar:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.progress-bar {
  background-color: #acd7fc;
  display: -webkit-flex;
  display: flex;
}
.progress-bar:before {
  background-color: #0088ff;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
